<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rock Paper Scissor Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-2">

        <!-- Buttons Grid -->
        <div class="container  my-3">
            <div class="row">
                <div class="col-sm">
                    <form th:action="@{/play}" method="GET">
                        <button  class="btn btn-primary" type="submit" th:value="Play">Play</button>
                    </form>
                </div>
                <div class="col-sm">
                    <form th:action="@{/}" method="GET">
                        <button  class="btn btn-primary" type="submit" th:value="Restart">Restart</button>
                    </form>
                </div>
                <div class="col-sm">
                    <form th:action="@{/statistics}" method="GET">
                        <button  class="btn btn-primary" type="submit" th:value="Restart">Statistics</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- User -->
        <div class="alert alert-success" role="alert">
            <label>Welcome user: <span th:text="${userId}"></span></label>
        </div>
        <!-- Total rounds Label -->
        <div class="alert alert-primary" role="alert">
            <label>Total number of rounds: <span th:text="${totalrounds}"></span></label>
        </div>


        <!-- Table view -->
        <div class="container">
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Winner</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="round : ${rounds}">
                    <td th:text="${round.playerOneMove.value}"></td>
                    <td th:text="${round.playerTwoMove.value}"></td>
                    <td th:text="${round.winner.value}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
