<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissor Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="alert alert-primary" role="alert">
        <ul><label>Total number of rounds: <span th:text="${totalRounds}"></span></label></ul>
        <ul><label>Player 1 Wins: <span th:text="${totalWinsPlayerOne}"></span></label></ul>
        <ul><label>Player 2 Wins: <span th:text="${totalWinsPlayerTwo}"></span></label></ul>
        <ul><label>Total number of draws: <span th:text="${totalDraws}"></span></label></ul>
    </div>
    <div class="col-sm">
        <form th:action="@{/statistics}" method="GET">
            <button  class="btn btn-primary" type="submit">Refresh</button>
        </form>
    </div>
    <h1>
        <a href="/">Restart Game</a>
    </h1>
</div>
</body>
</html>